<%= render 'shared/banner' %>

<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-md-4">
      <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-action">
        <ul class="list-inline">
          <li><%= link_to edit_cocktail_path(cocktail) do %><i class="far fa-trash-alt"><% end %></i></li>
          <li><%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-pencil-alt"></i><% end %></li>
        </ul>
      </div>
      <div class="card-description">
        <%= cocktail.name %>
      </div>
      <%= link_to "", cocktail_path(cocktail), class: "card-link"%>
      </div>
    </div>
    <% end %>
  </div>

</div>

<%= link_to 'New Cocktail', new_cocktail_path %>

<%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>
